<div class="background">
  <div class="match__header">
    <h1>Contest: <span class="match__header--light">{{match.contest}}</span> | Phase: <span class="match__header--light">{{match.phase}}</span> <span *ngIf="match.group"> | Group: <span class="match__header--light">{{match.group}}</span></span></h1>
  </div>

  <div *ngIf="match" class="widget">
    <div class="widget__team">
      <p>{{match?.c1}}</p>
    </div>
    <div class="widget__score">
      <img class="widget__image" src="{{apiUrl}}/{{match?.c1Image}}" />
      <span *ngIf="match.played == 1">{{match?.goalsD1}} - {{match?.goalsD2}}</span>
      <span *ngIf="match.played == 0">X - X</span>
      <img class="widget__image" src="{{apiUrl}}/{{match?.c2Image}}" />
    </div>
    <div class="widget__team">
      <p>{{match?.c2}}</p>
    </div>
  </div>

  <div class="horizontalLine"></div>

  <div class="match__team1">
    <div class="match__teamName">
      <img class="match__teamImage" src="{{apiUrl}}/{{match?.c1Image}}" />
      <h2>{{match?.c1}} ({{match?.p1Name}} {{match?.p1Surname}})</h2>
    </div>
    <div class="match__statistics">

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Goals</h3>
          <app-player-search *ngIf="match?.c1Id" [matchId]="match?.matchId" [type]="'GOAL'" [countryId]="match?.c1Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let goal of match?.goalsT1" id="{{goal.id}}">
              {{goal?.name}} {{goal?.surname}}
              <i (click)="deleteStatistic(goal.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Injuries</h3>
          <app-player-search *ngIf="match?.c1Id" [matchId]="match?.matchId" [type]="'INJ'" [countryId]="match?.c1Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let injury of match?.injuriesT1" id="{{injury.id}}">
              {{injury?.name}} {{injury?.surname}}
              <i (click)="deleteStatistic(injury.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Yellow Cards</h3>
          <app-player-search *ngIf="match?.c1Id" [matchId]="match?.matchId" [type]="'YEL'" [countryId]="match?.c1Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let yellow of match?.yellowsT1" id="{{yellow.id}}">
              {{yellow?.name}} {{yellow?.surname}}
              <i (click)="deleteStatistic(yellow.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Red Cards</h3>
          <app-player-search *ngIf="match?.c1Id" [matchId]="match?.matchId" [type]="'RED'" [countryId]="match?.c1Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let red of match?.redsT1" id="{{red.id}}">
              {{red?.name}} {{red?.surname}}
              <i (click)="deleteStatistic(red.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="match__team2">
    <div class="match__teamName">
      <img class="match__teamImage" src="{{apiUrl}}/{{match?.c2Image}}" />
      <h2>{{match?.c2}} ({{match?.p2Name}} {{match?.p2Surname}})</h2>
    </div>
    <div class="match__statistics">

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Goals</h3>
          <app-player-search *ngIf="match?.c2Id" [matchId]="match?.matchId" [type]="'GOAL'" [countryId]="match?.c2Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let goal of match?.goalsT2" id="{{goal.id}}">
              {{goal?.name}} {{goal?.surname}}
              <i (click)="deleteStatistic(goal.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Injuries</h3>
          <app-player-search *ngIf="match?.c2Id" [matchId]="match?.matchId" [type]="'INJ'" [countryId]="match?.c2Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let injury of match?.injuriesT2" id="{{injury.id}}">
              {{injury?.name}} {{injury?.surname}}
              <i (click)="deleteStatistic(injury.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Yellow Cards</h3>
          <app-player-search *ngIf="match?.c2Id" [matchId]="match?.matchId" [type]="'YEL'" [countryId]="match?.c2Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let yellow of match?.yellowsT2" id="{{yellow.id}}">
              {{yellow?.name}} {{yellow?.surname}}
              <i (click)="deleteStatistic(yellow.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Red Cards</h3>
          <app-player-search *ngIf="match?.c2Id" [matchId]="match?.matchId" [type]="'RED'" [countryId]="match?.c2Id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let red of match?.redsT2" id="{{red.id}}">
              {{red?.name}} {{red?.surname}}
              <i (click)="deleteStatistic(red.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>



</div>