<div class="background">
  <div class="match__header">
    <h1>Contest: <span class="match__header--light">{{match?.contest}}</span> | Phase: <span
        class="match__header--light">{{match?.phase}}</span> <span *ngIf="match?.group"> | Group: <span
          class="match__header--light">{{match?.group}}</span></span></h1>
  </div>
  <div class="match__played">
    <label>Played: </label>
    <input type="checkbox" [(ngModel)]="played" (change)="changePlayed()" />
  </div>

  <div *ngIf="match" class="widget">
    <div class="widget__team">
      <p>{{match?.c1}}</p>
    </div>
    <div class="widget__score">
      <img class="widget__image" src="{{apiUrl}}/{{match?.c1image}}" />
      <span *ngIf="match.played == 1">{{match?.goalsd1}} - {{match?.goalsd2}}</span>
      <span *ngIf="match.played == 0">X - X</span>
      <img class="widget__image" src="{{apiUrl}}/{{match?.c2image}}" />
    </div>
    <div class="widget__team">
      <p>{{match?.c2}}</p>
    </div>
  </div>

  <div class="horizontalLine"></div>

  <div class="match__team1">
    <div class="match__teamName">
      <img class="match__teamImage" src="{{apiUrl}}/{{match?.c1image}}" />
      <h2>{{match?.c1}} ({{match?.p1name}} {{match?.p1surname}})</h2>
    </div>
    <div class="match__statistics">

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Goals</h3>
          <app-player-search *ngIf="match?.c1id" [matchId]="match?.matchid" [type]="'GOAL'" [countryId]="match?.c1id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let goal of match?.goalst1" id="{{goal.id}}">
              {{goal?.name}} {{goal?.surname}}
              <i (click)="deleteStatistic(goal.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Injuries</h3>
          <app-player-search *ngIf="match?.c1id" [matchId]="match?.matchid" [type]="'INJ'" [countryId]="match?.c1id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let injury of match?.injuriest1" id="{{injury.id}}">
              {{injury?.name}} {{injury?.surname}}
              <i (click)="deleteStatistic(injury.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Yellow Cards</h3>
          <app-player-search *ngIf="match?.c1id" [matchId]="match?.matchid" [type]="'YEL'" [countryId]="match?.c1id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let yellow of match?.yellowst1" id="{{yellow.id}}">
              {{yellow?.name}} {{yellow?.surname}}
              <i (click)="deleteStatistic(yellow.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Red Cards</h3>
          <app-player-search *ngIf="match?.c1id" [matchId]="match?.matchid" [type]="'RED'" [countryId]="match?.c1id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let red of match?.redst1" id="{{red.id}}">
              {{red?.name}} {{red?.surname}}
              <i (click)="deleteStatistic(red.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="match__team2">
    <div class="match__teamName">
      <img class="match__teamImage" src="{{apiUrl}}/{{match?.c2image}}" />
      <h2>{{match?.c2}} ({{match?.p2name}} {{match?.p2surname}})</h2>
    </div>
    <div class="match__statistics">

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Goals</h3>
          <app-player-search *ngIf="match?.c2id" [matchId]="match?.matchid" [type]="'GOAL'" [countryId]="match?.c2id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let goal of match?.goalst2" id="{{goal.id}}">
              {{goal?.name}} {{goal?.surname}}
              <i (click)="deleteStatistic(goal.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Injuries</h3>
          <app-player-search *ngIf="match?.c2id" [matchId]="match?.matchid" [type]="'INJ'" [countryId]="match?.c2id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let injury of match?.injuriest2" id="{{injury.id}}">
              {{injury?.name}} {{injury?.surname}}
              <i (click)="deleteStatistic(injury.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Yellow Cards</h3>
          <app-player-search *ngIf="match?.c2id" [matchId]="match?.matchid" [type]="'YEL'" [countryId]="match?.c2id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let yellow of match?.yellowst2" id="{{yellow.id}}">
              {{yellow?.name}} {{yellow?.surname}}
              <i (click)="deleteStatistic(yellow.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

      <div class="match__statistic">
        <div class="match__statistic--title">
          <h3>Red Cards</h3>
          <app-player-search *ngIf="match?.c2id" [matchId]="match?.matchid" [type]="'RED'" [countryId]="match?.c2id"
            (updateRecords)="update()"></app-player-search>
        </div>
        <div class="match__statisticContent">
          <ul>
            <li *ngFor="let red of match?.redst2" id="{{red.id}}">
              {{red?.name}} {{red?.surname}}
              <i (click)="deleteStatistic(red.id)" class="material-icons deleteItem">
                close
              </i>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="match__delete">
    <p (click)="deleteMatch()" class="match__delete">Delete match</p>
  </div>

</div>