<h1>Password Reset</h1>
<p class="changePassword__info">Enter new password</p>
<form action="." class="changePassword__form">
  <input name='passwordInput' type="password" [(ngModel)]="passwordValue" placeholder={{passwordPlaceholder}}
    (focus)="passwordPlaceholder=''" (focusout)="passwordPlaceholder='Password'"
    class="changePassword__input changePassword__input--password" required>
  <input name='passwordInput' type="password" [(ngModel)]="repeatPasswordValue" placeholder={{repeatPasswordPlaceholder}}
    (focus)="repeatPasswordPlaceholder=''" (focusout)="repeatPasswordPlaceholder='Repeat password'"
    class="changePassword__input changePassword__input--password" required>
  <button type="button" class="changePassword__button" (click)="changePassword()">Continue</button>
</form>