.addForm{
    display: flex;
    align-items: center; 
    position: relative;

}

input{
    width: 140px;
}

.hints{
    position: absolute;
    top: 30px;
    width: 190px;
    max-height: 100px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    z-index: 20;
}

.addForm button{
    background: none;
    border: none;
    height: auto;
    height: 25px;
    width: 50px;
}

.buttonActive:hover{
    cursor: pointer;
}

.hints ul{
    margin: 3px;
    padding: 0;
    list-style-type: none;
}

.hints ul li{
    padding: 3px;
    border-bottom: 1px solid;
    border-color: rgb(182, 182, 182);
}

.hints ul li:hover{
    cursor: pointer;
}