<div class="contest__background">
  <a onclick="window.history.go(-1); return false;" class="backButton">Back</a>
  <h1 class="contest__name">{{contest.contestName}}</h1>
  <h2 class="contest__played">Finished<input [(ngModel)]="played" (change)="changeFinished()" type="checkbox"/></h2>
  <div class="contest__basicData">
    <p>Date<br> <a class="contest__basicData--data">{{contest.date | date:'dd.MM.yyyy'}}</a></p>
    <p>Stadium<br> <a class="contest__basicData--data">{{contest.stadiumName}}</a></p>
    <p>Top Scorer<br>
      <a *ngIf="contest.shootKing != null" class="contest__basicData--data">
        {{contest.shootKing[0].name}} {{contest.shootKing[0].surname}}
        ({{contest.shootKing[0].country}}) -
        {{contest.shootKing[0].goals}}
      </a>
      <a *ngIf="contest.shootKing == null" class="contest__basicData--data">
        -
      </a>

    </p>
  </div>
  <app-phases *ngIf="contest.contestId" [contestId]="contest.contestId"></app-phases>
  <app-contest-players [contest]="contest" *ngIf="contestId" [contestId]="contestId"></app-contest-players>
  <app-contest-users [users]="contest.users" *ngIf="contestId" [contestId]="contestId" ></app-contest-users>
  <div class="contest__delete">
    <p (click)="deleteContest()">Delete contest</p>
  </div>
</div>