<div class="content__bars">
  <div *ngIf="incorrectData" class="content__error"><span>Please enter correct data!</span></div>
  <form #addForm="ngForm" [formGroup]="newContestForm" class="content__rows">
    <label for="name">Name</label>
    <input #name id="name" formControlName="name" type="text" placeholder="Name">
    <label for="stadium">Stadium</label>
    <select id="stadium" formControlName="stadiumId">
      <option type="number" *ngFor="let stadium of stadiums; let i = index"  [attr.value]="stadium.stadiumID" placeholder="Stadium">{{stadium.name}}</option>
    </select>
    <label for="date">Date</label>
    <input name="date" type="date" formControlName="date" placeholder="Date">
    <label for="finished">Finished</label>
    <input name="finished" formControlName="finished" type="checkbox">
    <button (click)="addToDB()">Add</button>
  </form>
  <div class="content__cup"><img src="assets/icons/cup.svg" /></div>
</div>