<div class="content__bars">
  <form #addForm="ngForm" class="content__rows">
    <div class="content__row">
      <label>Name</label>
      <input type="text" placeholder="Name">
    </div>
    <div class="content__row">
      <label>Stadium</label>
      <input type="text" placeholder="Stadium">
    </div>
    <div class="content__row">
      <label>Date</label>
      <input type="date" placeholder="Date">
    </div>
    <div class="content__row">
      <label>Finished</label>
      <input type="checkbox">
    </div>
  </form>
  <div class="content__cup"><img src="assets/icons/cup.svg"/></div>
</div>