<app-add-box #contest [boxName]="'New Contest'">
    <app-add-contest (cleanUp)="cleanUp" #contestBox></app-add-contest>
</app-add-box>

<div class="header">
    <h3 class="header__title">My Contests</h3>
    <img class="header__addPlus" (click)="contest.toggle()" src="assets/icons/plus.svg">
</div>
<div class="contests">
    <p *ngIf="!contests">Brak dodanych turniejów!</p>
    <div *ngFor="let contest of contests" class="contest">
        <a routerLink="/contest/{{contest.contestId}}">
            <div class="contest__header">
                <h1>{{ contest.contestName }}</h1>
            </div>
            <ul>
                <li>
                    <p class="contest__date"><span class="contest--bold">Date:</span> {{contest.date}}</p>
                </li>
                <li>
                    <p class="contest__stadium"><span class="contest--bold">Stadium:</span> {{contest.stadiumName}}</p>
                </li>

                <li>
                    <p class="header__topScorer"><span class="contest--bold">Top scorer:</span>
                        <span *ngIf="contest.shootKing">
                            {{contest.shootKing[0].name}} {{contest.shootKing[0].surname}}
                            ({{contest.shootKing[0].country}}) - {{contest.shootKing[0].goals}}
                        </span>
                        <span *ngIf="!contest.shootKing">
                            -
                        </span>
                    </p>
                </li>
            </ul>
            <div class="contest__state contest__state--finished" *ngIf="contest.finished==1">Zakonczony</div>
            <div class="contest__state contest__state--unfinished" *ngIf="contest.finished==0">Trwa</div>
        </a>
    </div>
</div>