<div class="matches">
  <div class="matches__leftColumn">
      <h1>Matches</h1>
      <p>No matches</p>
      <ul class="matches__list">
          <li *ngFor="let match of matches">
              <a>
                  {{match.c1}} - {{match.c2}}
                  <span class="matches__score">{{match.goalsD1}} - {{match.goalsD2}}</span>
                  <span class="matches__score">Not played</span>
              </a>
              <i class="material-icons deleteItem" (click)="deleteMecz(match.matchId)">close</i>

          </li>
      </ul>
  </div>
  <div class="matches__rightColumn">
      <div class="delete" (click)="usunGrupe()">Usuń grupę</div>
  </div>
</div>