/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.link{
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #eceff1;
}

a {
  text-decoration: none;
  color: black;
}

.remove {
  cursor: pointer;
}

.remove svg {
  width: 13px;
  height: 13px;
  fill: rgb(156, 156, 156);
  transition: all ease 0.5s;
}

.remove svg:hover {
  fill: rgb(252, 122, 122);
}

.edit {
  cursor: pointer;
}

.edit svg {
  width: 13px;
  height: 13px;
  fill: rgb(156, 156, 156);
  transition: all ease 0.5s;
}

.edit svg:hover {
  fill: rgb(252, 122, 122);
}


.information{
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 10px;
  padding: 0;
}

.success{
	color: #5ec96c;
	
}

.warning{
	color: rgb(253, 125, 125);
}

.warning svg {
  width: 30px;
  height: 30px;
  fill: rgb(253, 125, 125);
}

.success svg{
  width: 30px;
  height: 30px;
  fill: #5ec96c;
}


.editLocked {
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: not-allowed;
}

.empty {
  text-align: center;
  margin: 20px;
  color: #cccccc;
}

.backButton{
  display: block;
  color: rgb(224, 224, 224);
  margin:10px 0;
  cursor: pointer;
}